#navbar-nav1 {
  margin-left: auto;
  a:hover {
    font-size: 18px;
  }
}

#nav-link1 {
  color: #323f4b;
  font-family: "Roboto";
}

#nav-link2 {
  color: #323f4b;
  font-family: "Roboto";
}

#nav-link3 {
  color: #323f4b;
  font-family: "Roboto";
}

#nav-link4 {
  color: #323f4b;
  font-family: "Roboto";
}

.bg-container {
  background-image: url("./Img/foodmunch-banner-bg.png");
  background-size: cover;
  height: 100vh;
}
.bg-heading {
  font-size: 35px;
  font-family: "Roboto";
  color: white;
}

.bg-para {
  font-size: 20px;
  font-family: "Roboto";
  color: white;
}
.button1 {
  background-color: transparent;
  color: white;
  padding: 5px;
}
.button2 {
  background-color: #d0b200;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.wcu-section {
  background-color: #f9fbfe;
}

.wcu-card-image {
  height: 87px;
  width: 90px;
}
.wcu-heading {
  font-size: 25px;
  font-weight: 400;
}
.wcu-para {
  font-size: 18px;
  font-family: "Roboto";
}

.wcu-card {
  border: 1px solid #e5eaf4;
  text-align: center;
  border-radius: 16px;
}

.ExploreMenu-section {
  background-color: white;
}
.menu-item-image {
  border-radius: 14px;
}
